RewriteEngine On
RewriteRule  plugins/(.*)                          plugins/$1                    [L]
RewriteRule  css/(.*)                              css/$1                        [L]
RewriteRule  js/(.*)                               js/$1                         [L]
RewriteRule signin_cntr$                           controller/signin_cntr.php    [L]
RewriteRule users_cntr$                            controller/users_cntr.php     [L]
RewriteRule message_cntr$                          controller/message_cntr.php     [L]
RewriteRule users_cntr-(\w+)-(\w+)$                controller/users_cntr.php?action=$1&id=$2  [L]
RewriteRule trending_cntr$                         controller/trending_cntr.php     [L]
RewriteRule trending_cntr-(\w+)-(\w+)$             controller/trending_cntr.php?action=$1&id=$2     [L]
RewriteRule occupation_cntr$                       controller/occupation_cntr.php     [L]
RewriteRule occupation_cntr-(\w+)-(\w+)$           controller/occupation_cntr.php?action=$1&id=$2     [L]
RewriteRule announcment_cntr$                      controller/announcment_cntr.php     [L]
RewriteRule announcment_cntr-(\w+)-(\w+)$          controller/announcment_cntr.php?action=$1&id=$2     [L]
RewriteRule identification_cntr$                   controller/identification_cntr.php     [L]
RewriteRule identification_cntr-(\w+)-(\w+)$       controller/identification_cntr.php?action=$1&id=$2     [L]
RewriteRule position_cntr$                         controller/position_cntr.php     [L]
RewriteRule position_cntr-(\w+)-(\w+)$             controller/position_cntr.php?action=$1&id=$2     [L]
RewriteRule poll_cntr$                             controller/poll_cntr.php     [L]
RewriteRule poll_cntr-(\w+)-(\w+)$                 controller/poll_cntr.php?action=$1&id=$2     [L]
RewriteRule poll_cntr-(\w+)-(\w+)-(\w+)$           controller/poll_cntr.php?action=$1&id=$2&option=$3     [L]
RewriteRule pollresult_cntr$                       controller/pollresult_cntr.php     [L]
RewriteRule survey_cntr$                           controller/survey_cntr.php     [L]
RewriteRule survey_cntr-(\w+)-(\w+)$               controller/survey_cntr.php?action=$1&id=$2     [L]
RewriteRule survey_cntr-(\w+)-(\w+)-(\w+)$         controller/survey_cntr.php?action=$1&id=$2&option=$3     [L]
RewriteRule survey_cntr-(\w+)-(\w+)-(\w+)$         controller/survey_cntr.php?action=$1&id=$2&option=$3     [L]
RewriteRule surveyresult_cntr$                     controller/surveyresult_cntr.php     [L]
RewriteRule timehall_cntr$                         controller/timehall_cntr.php     [L]
RewriteRule timehall_cntr-(\w+)-(\w+)$             controller/timehall_cntr.php?action=$1&id=$2     [L]
RewriteRule ^$                                     view/ [L]
RewriteRule login$                                 view/login.php [L]
RewriteRule signout$                               view/signout.php [L]
RewriteRule dashboard$                             view/dashboard.php [L]
RewriteRule users$                                 view/users.php [L]
RewriteRule users-(\w+)$                           view/users.php?action=$1 [L]
RewriteRule users-(\w+)-(\w+)$                     view/users.php?action=$1&id=$2 [L]
RewriteRule users_admin$                           view/users_admin.php [L]
RewriteRule users_admin-(\w+)$                     view/users_admin.php?action=$1 [L]
RewriteRule users_admin-(\w+)-(\w+)$               view/users_admin.php?action=$1&id=$2 [L]
RewriteRule trending$                          view/trending.php [L]
RewriteRule profile$                               view/profile.php [L]
RewriteRule trending-(\w+)$                    view/trending.php?action=$1 [L]
RewriteRule trending-(\w+)-(\w+)$              view/trending.php?action=$1&id=$2 [L]
RewriteRule occupation$                            view/occupation.php [L]
RewriteRule occupation-(\w+)$                      view/occupation.php?action=$1 [L]
RewriteRule occupation-(\w+)-(\w+)$                view/occupation.php?action=$1&id=$2 [L]
RewriteRule identification$                        view/identification.php [L]
RewriteRule identification-(\w+)$                  view/identification.php?action=$1 [L]
RewriteRule identification-(\w+)-(\w+)$            view/identification.php?action=$1&id=$2 [L]
RewriteRule position$                              view/position.php [L]
RewriteRule position-(\w+)$                        view/position.php?action=$1 [L]
RewriteRule position-(\w+)-(\w+)$                  view/position.php?action=$1&id=$2 [L]
RewriteRule message$                               view/message.php [L]
RewriteRule message-(\w+)$                         view/message.php?action=$1 [L]
RewriteRule message-(\w+)-(\w+)$                   view/message.php?action=$1&id=$2 [L]
RewriteRule chat$                                  view/chat.php [L]
RewriteRule chat-(\w+)$                            view/chat.php?action=$1 [L]
RewriteRule chat-(\w+)-(\w+)$                      view/chat.php?action=$1&id=$2 [L]
RewriteRule announcment$                           view/announcment.php [L]
RewriteRule announcment-(\w+)$                     view/announcment.php?action=$1 [L]
RewriteRule announcment-(\w+)-(\w+)$               view/announcment.php?action=$1&id=$2 [L]
RewriteRule poll$                                  view/poll.php [L]
RewriteRule poll-(\w+)$                            view/poll.php?action=$1 [L]
RewriteRule poll-(\w+)-(\w+)$                      view/poll.php?action=$1&id=$2 [L]
RewriteRule polls-result-(\w+)$                     view/polls-result.php?id=$1 [L]
#RewriteRule poll-(\w+)-(\w+)-(\w+)$                view/poll.php?action=$1&id=$2&option=$3 [L]
RewriteRule survey$                                view/survey.php [L]
RewriteRule survey-(\w+)$                          view/survey.php?action=$1 [L]
RewriteRule survey-(\w+)-(\w+)$                    view/survey.php?action=$1&id=$2 [L]
RewriteRule surveys-result-(\w+)$                  view/surveys-result.php?id=$1 [L]
#RewriteRule survey-(\w+)-(\w+)-(\w+)$              view/survey.php?action=$1&id=$2&option=$3 [L]
RewriteRule timehall$                              view/timehall.php [L]
RewriteRule timehall-(\w+)$                        view/timehall.php?action=$1 [L]
RewriteRule timehall-(\w+)-(\w+)$                  view/timehall.php?action=$1&id=$2 [L]